{% extends "shop/base.html" %}
{% load static%}

{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>HAQQIMIZDA</h2>
                    <div class="page_link">
                        <a href="index.html">

    Əsas Səyfə </a>
                        <a href="contact.html">Haqqımızda</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area p_120">
        <div class="container">
            
            <div class="row">
					<div class="main_title">
						
						<h3>
                        Gifa şirkəti olaraq 25 ildən artıqdır ki, Azərbaycan inşaat bazarında ən zövqlü
                        məhsulların topdan və pərakəndə satışı ilə məşğuluq. Biz müştəri məmnuniyyətini nəzərə
                        alaraq xidmətimizə(istəyə görə) çatdırılma və quraşdırılma əlavə etdik. Sizdən seçmək bizdən təmin etmək
                        </h3>
					</div>
				</div>
            
        </div>
    </section>
    <!--================Contact Area =================-->

                   
  {% endblock%}